repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-github-workflows
      - id: check-dependabot

  - repo: local
    hooks:
      - id: just-fmt
        name: Format justfile
        entry: just --fmt --unstable
        language: system
        files: justfile
        pass_filenames: false

      - id: fix
        name: just fix
        entry: just _fix
        language: system
        pass_filenames: false
