site_name: Waxy
site_description: A Python wrapper around the Rust taffy UI layout library
repo_url: https://github.com/JoshKarpel/waxy
repo_name: JoshKarpel/waxy

theme:
  name: material
  palette:
    - scheme: default
      primary: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_css:
  - extra.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          inventories:
            - https://docs.python.org/3/objects.inv
          options:
            show_source: false
            show_root_heading: true
            members_order: source
            heading_level: 3
            show_signature_annotations: true
            separate_signature: true
            signature_crossrefs: true
            merge_init_into_class: true
            docstring_options:
              ignore_init_summary: true
            filters:
              - "!^_"

nav:
  - Home: index.md
  - api.md
  - changelog.md
  - maintaining.md
