name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.13", "3.14"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4.3.1

      - uses: actions/setup-python@v5.6.0
        with:
          python-version: ${{ matrix.python-version }}

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install just
        uses: extractions/setup-just@v2.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@v7.3.0

      - name: Fix
        run: just pre-commit-args="--verbose --all-files --show-diff-on-failure" fix

      - name: Test
        run: just test
